# Ignore virtual environment directory
.venv/

# Ignore log files
logs/*

# Ignore temporary data directory
data/*

# Ignore IDE generated configuration files
*.idea/

# Ignore test data
test/data/*

# Ignore test reports
test/reports/*

# Ignore compiled files
bin/*